<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.ufma.lsdi.digitalphenotyping">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Fenotipagem_digital_saude_vs_0_1">

        <receiver android:name=".BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            </intent-filter>
        </receiver>

        <receiver android:name=".dataprocessor.util.AlarmStudentLife" android:label="BroadcastReceiverAux">
            <intent-filter>
                <action android:name="ALARME_DISPARADO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".dataprocessor.util.AlarmAudio" android:label="BroadcastReceiverAudio"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="ALARME_DISPARADO_AUDIO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <service android:name=".dpmanager.DPManagerService" />
        <service android:name=".processormanager.services.ProcessorManager"/>
        <service android:name=".phenotypecomposer.PhenotypeComposer"/>
        <service android:name=".rawdatacollector.RawDataCollector" />
        <service android:name=".dataprocessor.processors.Physical_Sociability" />
        <service android:name=".dataprocessor.processors.Online_Sociability" />
        <service android:name=".dataprocessor.processors.Mobility" />
        <service android:name=".dataprocessor.processors.Sleep" />

        <service android:name=".dataprocessor.processors.PhysicalActivity" />
        <service android:name=".dataprocessor.processors.DetectedActivityIntentService"
            tools:ignore="Instantiatable" />
        <service android:name=".dataprocessor.processors.ActivityDetectionService" />
    </application>

</manifest>